<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Users</title>
</head>
<body class="bg-light">
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <strong><span th:text="${user.name}"></span></strong> with roles:
        <span th:text="${user.stringRoles}"></span> </a>
    <a class="nav-link" href="/logout">Logout</a>
</nav>
<div class="container-fluid">

    <div class="row vh-100">

        <div class="col-lg-2 pl-0 pr-0 pt-3 bg-white">
            <nav class="nav nav-pills flex-column">
                <div sec:authorize="hasAuthority('ADMIN')">
                    <li class="active">
                        <a class="nav-link active" href="/admin">Admin</a>
                    </li>
                </div>
                <li class="active">
                    <a class="nav-link" href="/user">User</a>
                </li>
            </nav>
        </div>

        <div class="col-sm">
            <h1 class="h3 p-2 font-bold"> Admin Panel</h1>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home" aria-selected="true">User table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile" aria-selected="false">Add User</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="card">
                        <div class="card-header"><strong>All users</strong></div>
                        <div class="card-body">

                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Password</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:utext="${user.id}">...</td>
                                    <td th:utext="${user.name}">...</td>
                                    <td th:utext="${user.surname}">...</td>
                                    <td th:utext="${user.age}">...</td>
                                    <td th:utext="${user.email}">...</td>
                                    <td th:utext="${user.password}">...</td>
                                    <td th:utext="${user.getStringRoles()}">...</td>
                                    <td>
                                        <!-- Trigger the modal with a button -->
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-info" data-toggle="modal"
                                                th:attr="data-target='#editModal-'+${user.id}">
                                            Edit
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade" th:attr="id='editModal-'+${user.id}" tabindex="-1"
                                             role="dialog"
                                             aria-labelledby="editModalLabel"
                                             aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <form th:method="POST"
                                                          th:action="@{/admin/{id}(id=${user.getId()})}">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title"
                                                                th:attr="id='editModal-'+${user.id}">Edit
                                                                user</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">x</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group text-center">
                                                                <label for="name1" class="center-block">
                                                                    <span class="font-weight-bold">Name</span>
                                                                </label>
                                                                <input type="text"
                                                                       class="form-control collection-ville text-center"
                                                                       id="name1"
                                                                       name="Name"
                                                                       th:value="${user.name}">
                                                            </div>
                                                            <div class="form-group text-center">
                                                                <label for="surname1" class="center-block">
                                                                    <span class="font-weight-bold">Surname</span>
                                                                </label>
                                                                <input type="text"
                                                                       class="form-control collection-ville text-center"
                                                                       id="surname1"
                                                                       name="Surname" th:value="${user.surname}">
                                                            </div>
                                                            <div class="form-group text-center">
                                                                <label for="age1" class="center-block">
                                                                    <span class="font-weight-bold">Age</span>
                                                                </label>
                                                                <input type="text"
                                                                       class="form-control collection-ville text-center"
                                                                       id="age1"
                                                                       name="Age" th:value="${user.age}">
                                                            </div>
                                                            <div class="form-group text-center">
                                                                <label for="email1" class="center-block">
                                                                    <span class="font-weight-bold">Email</span>
                                                                </label>
                                                                <input type="email"
                                                                       class="form-control collection-ville text-center"
                                                                       id="email1"
                                                                       name="Email" th:value="${user.email}">
                                                            </div>
                                                            <div class="form-group text-center">
                                                                <label for="password1" class="center-block">
                                                                    <span class="font-weight-bold">Password</span>
                                                                </label>
                                                                <input type="password"
                                                                       class="form-control collection-ville text-center"
                                                                       id="password1"
                                                                       name="Password" th:value="${user.password}">
                                                            </div>
                                                            <div class="form-group text-center">
                                                                <b><label for="role">Role</label></b>
                                                                <br>
                                                                <select class="form-control" multiple name="role"
                                                                        id="role"
                                                                        size="2">
                                                                    <option value="1">ADMIN</option>
                                                                    <option selected value="2">USER </option>
                                                                </select>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">
                                                                    Close
                                                                </button>
                                                                <button class="btn btn-primary" type="submit"
                                                                        name="edit"
                                                                        value="edit">Edit
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <!-- Trigger the modal with a button -->

                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                                th:attr="data-target='#deleteModal-'+${user.id}">
                                            Delete
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade" th:attr="id='deleteModal-'+${user.id}" tabindex="-1"
                                             role="dialog"
                                             aria-labelledby="deleteModalLabel"
                                             aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <form th:method="DELETE"
                                                          th:action="@{/admin/delete/{id}(id=${user.getId()})}">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title"
                                                                th:attr="id='deleteModal-'+${user.id}">Delete
                                                                user</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">x</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group text-center">
                                                                <label for="name2" class="center-block">
                                                                    <span class="font-weight-bold">Name</span>
                                                                </label>
                                                                <input type="text"
                                                                       class="form-control text-center"
                                                                       id="name2"
                                                                       name="Name"
                                                                       th:value="${user.name}" readonly="readonly">
                                                            </div>
                                                            <div class="form-group text-center">
                                                                <label for="surname2" class="center-block">
                                                                    <span class="font-weight-bold">Surname</span>
                                                                </label>
                                                                <input type="text"
                                                                       class="form-control text-center"
                                                                       id="surname2"
                                                                       name="Surname" th:value="${user.surname}"
                                                                       readonly="readonly">
                                                            </div>
                                                            <div class="form-group text-center">
                                                                <label for="age2" class="center-block">
                                                                    <span class="font-weight-bold">Age</span>
                                                                </label>
                                                                <input type="text"
                                                                       class="form-control text-center"
                                                                       id="age2"
                                                                       name="Age" th:value="${user.age}"
                                                                       readonly="readonly">
                                                            </div>
                                                            <div class="form-group text-center">
                                                                <label for="email2" class="center-block">
                                                                    <span class="font-weight-bold">Email</span>
                                                                </label>
                                                                <input type="email"
                                                                       class="form-control text-center"
                                                                       id="email2"
                                                                       name="Email" th:value="${user.email}"
                                                                       readonly="readonly">
                                                            </div>
                                                            <div class="form-group text-center">
                                                                <label for="password2" class="center-block">
                                                                    <span class="font-weight-bold">Password</span>
                                                                </label>
                                                                <input type="password"
                                                                       class="form-control collection-ville text-center"
                                                                       id="password2"
                                                                       name="Password" th:value="${user.password}"
                                                                       readonly="readonly">
                                                            </div>
                                                            <div class="form-group text-center">
                                                                <label for="roles2" class="center-block">
                                                                    <span class="font-weight-bold">Role</span>
                                                                </label>
                                                                <select id="roles2" class="form-control custom-select" size="2"
                                                                        th:name="role"
                                                                        multiple="multiple" readonly="readonly">
                                                                    <option value="1" readonly="readonly">ADMIN</option>
                                                                    <option  selected value="2" readonly="readonly">USER </option>
                                                                </select>
                                                                <input name="id" type="hidden"
                                                                       th:value="${user.id}">
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">
                                                                    Close
                                                                </button>
                                                                <button class="btn btn-danger" type="submit"
                                                                        name="delete"
                                                                        value="delete">Delete
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="card">
                        <div class="card-header"><strong>Add new user</strong></div>
                        <div class="card-body">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-md-5 ">
                                    <div class="container text-center">
                                        <form action="#" th:action="@{admin/add}" th:object="${user}" method="post"
                                              align="center">
                                            <div class="form-group">
                                                <label for="inputName" class=" font-weight-bold">Name</label>
                                                <input type="text" name="name" class="form-control" id="inputName"
                                                       placeholder="Enter your name" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputSurname" class=" font-weight-bold">Surname</label>
                                                <input type="text" name="Surname" class="form-control" id="inputSurname"
                                                       placeholder="Enter your surname" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputAge" class=" font-weight-bold">Age</label>
                                                <input type="text" name="age" class="form-control" id="inputAge"
                                                       placeholder="Enter your age" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputEmail" class=" font-weight-bold">Email</label>
                                                <input type="text" name="email" class="form-control" id="inputEmail"
                                                       placeholder="Enter your email address" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputPassword" class=" font-weight-bold">Password</label>
                                                <input type="password" name="password" class="form-control" id="inputPassword"
                                                       placeholder="Enter your password" required>
                                            </div>
                                            <div>
                                                <label for="role" class=" font-weight-bold">Roles:</label>
                                                <select class="form-control custom-select" size="2" id="role"
                                                        th:name="role"
                                                        multiple="multiple">
                                                    <option value="1">ADMIN</option>
                                                    <option selected value="2">USER</option>
                                                </select>
                                            </div>
                                            <br>
                                            <div>
                                                <button type="submit" class="btn btn-success ">Add new user</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>